style "xfdesktop-icon-view"
{
	XfdesktopIconView::label-alpha = 0
	XfdesktopIconView::selected-label-alpha = 80
	XfdesktopIconView::shadow-x-offset = 0
	XfdesktopIconView::shadow-y-offset = 1
	XfdesktopIconView::selected-shadow-x-offset = 0
	XfdesktopIconView::selected-shadow-y-offset = 1
	XfdesktopIconView::shadow-color = shade(1.5, @tooltip_bg_color)
	XfdesktopIconView::selected-shadow-color = shade(1.8, @tooltip_bg_color)
        XfdesktopIconView::shadow-blur-radius = 2
	XfdesktopIconView::cell-spacing = 2
	XfdesktopIconView::cell-padding = 6
	XfdesktopIconView::cell-text-width-proportion = 1.9

	fg[NORMAL] = shade (0.9, @selected_fg_color)
	fg[ACTIVE] = @selected_fg_color

	engine "murrine"
	{
	}
{
	font_name = "bold"
}

}